$color-primary: #00a8ff;
$color-secondary: hsla(150,31%,60%,1);
$color-yellow: hsla(48,96%,51%,1);
$bg-color-primary: hsla(22,100%,98%,1);
$color-black-soft: hsla(29, 20%, 23%, 1);
$color-black-reduced: hsla(0, 0%, 0%, 0.6);
$color-cta-primary: hsla(48,96%,51%,1);
$color-cta-secondary: hsla(151,35%,48%,1);
$color-white: hsla(0,0%,100%,1);